// Fonts / Sizes ------------------------------------------------------ //
// -------------------------------------------------------------------- //

// Fonts
$font-one: "Inter", sans-serif;; // 400(Regular), 700(bold)

// Font Sizes
$base-font-size: 16px !default;


// Spacing ------------------------------------------------------------ //
// -------------------------------------------------------------------- //

// Line Height
$base-line-height: 1.5;
$header-line-height: 1.5;


// Responsive Settings ------------------------------------------------ //
// -------------------------------------------------------------------- //
$max-width: 1400px;
$s-tablet: 768px;
$l-tablet: 1024px;
$s-desktop: 1200px;